BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Right
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true