Checks: "*,-altera-*,-android-*,-bugprone-easily-swappable-parameters,-bugprone-reserved-identifier,-cert-dcl37-c,-cert-dcl51-cpp,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-valist.Uninitialized,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-non-const-global-variables,-llvm-*,-llvmlibc-*,-misc-include-cleaner,-readability-magic-numbers"
WarningsAsErrors: true
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-identifier-length.IgnoredVariableNames
    value: ok
